@model PizzaBox.MVCClient.Models.OrderViewModel 

<h1>Let's list the available choices for placing order!</h1>

<form action="/Order/PlaceOrder" method="post">

<h2>View and select from the list of locations.</h2>
<select asp-for="SelectLocation">
  @foreach (var Location in Model.LocationList)
  {
      @* <!--Can only post back simple values--> *@
      <option label = "@Location.Street" value="@Location.LocationID"></option>
  }
</select>

<h2>View the available pizza types.</h2>

<select asp-for="SelectPizzaType">
  @foreach (var PizzaType in Model.PizzaTypeList)
  {
      <option label="@PizzaType.Name" value="@PizzaType.StorePizzaDefID" ></option>
  }
</select>

<h2>View the available crust types.</h2>
<select asp-for="SelectCrust">
  @foreach (var Crust in Model.CrustList)
  {
      <option label="@Crust.Name" value="@Crust.CrustDefID"></option>
  }
</select>

<h2>View the available sizes.</h2>
<select asp-for="SelectSize">
  @foreach (var Size in Model.SizeList)
  {
      <option label="@Size.Name" value="@Size.SizeDefID"></option>
  }
</select>

<h2>Choose the toppings.</h2>


<select asp-for="@Model.SelectToppings" multiple="multiple">
  @foreach (var Topping in Model.ToppingList)
  {
    <option label="@Topping.Name" value="@Topping.ToppingDefID"></option>
  } 
</select>

@{
  if (ViewData["ToppingErrorCouunt"] != null)
  {
    string errorMessage = ViewData["ToppingErrorCount"] as string;
    <p style="color: red">@errorMessage</p>
  }
}


<button type="submit" name="submit" value="add">Add pizza to order.</button>
<button type="submit" name="submit" value="finalize">Submit the order.</button>
</form>